body {
    font-family: 'Raleway', sans-serif;
    }

body {
    padding: 0;
    margin: 0;
    border: 0;
}

.hero {
    background-image: url('../img/bg-hero.jpg');
    background-repeat: repeat;
    background-size: cover;
    background-position: left;
    padding-bottom: 10rem;
}

.card{
    width : 24.163rem;
    object-fit: cover;
}

.carousel-indicators {
    top: 50px;
    }
    .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    }